torch
torchvision
streamlit
fastapi
uvicorn
opencv-python
scikit-learn
matplotlib
seaborn
numpy
pandas
pillow
onnxruntime
pytorch-grad-cam
google-genai
python-dotenv
bcrypt
plotly
requests